---
import Home from '@/layouts/Home'
import config from '../config'
let wx = 'https://chetxu.chetserenade.info/article/wx.webp'
---

<Home title="关于我">
  <div class="mx-auto mb-6 text-sm" data-pagefind-ignore>
    <h1 class="text-xl font-medium mb-4 mt-2">关于我</h1>
    <div class="prose-width">
      <span> 我是一名前端工程师，我的主要技术栈包括:</span>
      <span> Vue、React、Nuxt、Astro、ReactNative、TypeScript、NodeJS </span>
      <span> Tailwind、CSS、Vite、Webapck、NestJS、Mysql、Redis等 </span>
      <span> 同时，我对产品和设计也很感兴趣！ </span>
      <span> 在空闲时间，我喜欢探索各种美食、打篮球和徒步旅行</span>
      <span>
        你可以在<a href="https://github.com/JedediahXu" target="_blank">Github</a>和<a href="https://juejin.cn/user/3685218709411085" target="_blank">Juejin </a>看到更多关于我的动态
      </span>
    </div>

    <div class="dividers my-12"></div>

    <div class="mt-2 text-md">{config.friend}</div>

    <img src={wx} class="w-48 h-48 mt-3" alt="微信" />
  </div>

  <h2 class="font-bold mb-3 text-md desktop" data-pagefind-ignore>LINKS /「 友链 」</h2>
  <div class="mx-auto text-sm desktop" data-pagefind-ignore>
    <div class="footer-links prose">
      <div>
        {
          config.linkedList.map((res: { link: string | URL | null | undefined; label: unknown }) => (
            <>
              <a class="item" href={res.link} target="_blank" rel="noopener noreferrer">
                {res.label}
              </a>
              <div class="vertical" />
            </>
          ))
        }
      </div>
    </div>
  </div>
</Home>
