---
import Home from '@/layouts/Home'
import PostList from '@/components/PostList'
import CodingList from '@/components/Coding'
import ReshipList from '@/components/Reship'
---

<Home title="素履以往">
  <div class="mx-auto text-sm">
    <h2 class="font-bold mb-6 mt-2 text-md desktop">CODING /「 编程 」</h2>
    <div class="ml-6 md:ml-0">
      <CodingList />
    </div>
  </div>
  <div class="text-sm mt-8">
    <h2 class="font-bold mb-6 text-md desktop">ESSAYS / 「 生活 」</h2>
    <div class="ml-6 md:ml-0">
      <PostList />
    </div>
  </div>
  <div class="text-sm mt-1">
    <h2 class="font-bold mb-6 text-md desktop">RESHIP / 「 转载 」</h2>
    <div class="ml-6 md:ml-0">
      <ReshipList />
    </div>
  </div>
</Home>
