---
import Home from '../layouts/Home.astro'
import PostList from '../components/PostList.astro'
import CodingList from '../components/Coding.astro'
import ReshipList from '../components/Reship.astro'
---

<Home title="素履以往">
  <div class="mx-auto text-sm">
    <h2 class="font-bold mb-6 text-md">CODING /「 前端 」</h2>
    <div class="ml-6 md:ml-0">
      <CodingList />
    </div>
  </div>
  <div class="text-sm mt-8 pb-10">
    <h2 class="font-bold mb-6 text-md">ESSAYS / 「 生活 」</h2>
    <div class="ml-6 md:ml-0">
      <PostList />
    </div>
  </div>
  <div class="text-sm mt-1 pb-10">
    <h2 class="font-bold mb-6 text-md">RESHIP / 「 转载 」</h2>
    <div class="ml-6 md:ml-0">
      <ReshipList />
    </div>
  </div>
</Home>
