---
import Home from '../layouts/Home.astro'
import TrackMap from '../components/vue/Map.vue'
import config from '../config'
---

<Home title="地图">
  <div class="mx-auto text-sm">
    <div class="mb-8 flex mt-2 flex-col gap-1">
      <h1 class="text-xl font-medium mb-4">生活/轨迹</h1>
      <h2 class="text-sm">
        {config.live}
      </h2>
    </div>
  </div>
  <div class="w-full">
    <div id="my-gallery" class="flex flex-wrap">
      <TrackMap client:only="vue" />
    </div>
  </div>
</Home>
