---
import Home from '../layouts/Home.astro'
import RecentList from '../components/Recent.astro'
import Calendar from '../components/vue/Calendar.vue'
---

<Home>
  <div class="text-sm  be-with">
    <h2 class="font-bold mb-6 text-md">PERECENT TRENDS / 「 近期动态 」</h2>
    <Calendar client:only="vue" />
  </div>
  <div class="text-sm mt-8 pb-10">
    <h2 class="font-bold mb-6 text-md">PERECENT ARTICLES/「 近期文章 」</h2>
    <div class="ml-6 md:ml-0">
      <RecentList />
    </div>
  </div>
</Home>
