---
import Home from '../layouts/Home.astro'
import RecentList from '../components/Recent.astro'
import Calendar from '../components/vue/Calendar.vue'
import { Content as Intro } from '../intro.md'
---

<Home>
  <div class="mx-auto text-sm">
    <h2 class="font-bold mb-6 text-md">ABOUT /「 关于我 」</h2>
    <div class="prose prose-sm">
      <Intro />
    </div>
  </div>
  <div class="text-sm mt-8 be-with">
    <h2 class="font-bold mb-6 text-md">PERECENT TRENDS / 「 近期动态 」</h2>
    <Calendar client:only="vue" />
  </div>
  <div class="text-sm mt-8 pb-10">
    <h2 class="font-bold mb-6 text-md">PERECENT ARTICLES/「 近期文章 」</h2>
    <div class="ml-6 md:ml-0">
      <RecentList />
    </div>
  </div>
</Home>

<style>
  @media (max-width: 1200px) {
    .be-with {
      display: none;
    }
  }
</style>
