---
import Home from '../layouts/Home.astro'
import RecentList from '../components/Recent.astro'
import Calendar from '../components/vue/Calendar.vue'
---

<Home>
  <div class="text-sm be-with">
    <div class="prose-width mb-5 mt-2 text-md">
      <span> 👋 嘿,我是JedXu, 一名靠摸爬滚打自学的前端工程师</span>
      <span> 欢迎来到我的个人博客 建设爱与bug♡</span>
      <span> 我目前对工程化很感兴趣并且在努力实践中 </span>
      <span> 我的激情就在于畅想想法并将其变为现实</span>
    </div>
    <div class="hidden-calendar">
      <h2 class="font-bold mb-6 text-md">PERECENT TRENDS / 「 近期动态 」</h2>
      <Calendar client:only="vue" />
    </div>
  </div>
  <div class="text-sm mt-8 pb-10">
    <h2 class="font-bold mb-6 text-md">PERECENT ARTICLES/「 近期文章 」</h2>
    <div class="ml-6 md:ml-0">
      <RecentList />
    </div>
  </div>
</Home>
