---
import Home from '../layouts/Home.astro'
import Photoalbum from '../components/vue/Photoalbum.vue'
import config from '../config'
---

<Home title="生活相册">
  <div class="mx-auto text-sm"data-pagefind-ignore >
    <div class="mb-8 flex flex-col gap-1">
      <h1 class="text-xl font-medium mb-4 mt-2">图片/视频</h1>
      <h2 class="text-sm">{config.picture}</h2>
    </div>
  </div>
  <Photoalbum client:only="vue" />
</Home>
