@font-face {
  font-family: 'iconfont';
  
  src:
    url('//at.alicdn.com/t/c/font_64825_p79jvio1bx.woff2?t=1691503777660') format('woff2'),
    url('//at.alicdn.com/t/c/font_64825_p79jvio1bx.woff?t=1691503777660') format('woff'),
    url('//at.alicdn.com/t/c/font_64825_p79jvio1bx.ttf?t=1691503777660') format('truetype');
}

.iconfont {
  font-family: 'iconfont' !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}


.icon-github:before {
  content: '\e689';
}

.icon-instagram:before {
  content: '\e8a1';
}

.icon-quill:before {
  content: '\e6ad';
}
