#background {
  position: fixed;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  z-index: -1;
}

#background .image {
  position: absolute;
  width: 100%;
  height: 100%;
  opacity: 0.2;
  background: url("../images/background.png");
}

.prose-width {
  max-width: 75ch;
}

.home {
  overflow-x: hidden;
  margin: 0 auto;
  max-width: 1080px;
  padding-bottom: 10px;
  position: relative;
  width: 100%;
  font-family: webfont-bolder;
}

.desktop-nav {
  display: flex;
  align-items: center;
  position: relative;
  width: 100%;
  height: 3em;
  margin-bottom: 0.618rem;
  padding: 0 1.236rem;
  text-decoration: none;
  letter-spacing: 0.5px;
  color: var(--text-secondary);
  will-change: background-color;
  transition: background-color 0.06s;
  border-radius: 4px;
  overflow: hidden;
}

.webfont {
  font-weight: 400;
  box-sizing: inherit;
  border-style: solid;
  border-width: 0;
  font-family: webfont-bolder;
  line-height: 29px;
  margin: 0;
  padding: 0;
  width: 100%;
  color: #cc8c8c;
  align-items: flex-start;
  display: flex;
}

.calendar {
  width: 630px;
  padding: 0.8rem;
}

@media (min-width: 1600px) and (max-width: 3999px) {
  .calendar {
    width: 690px;
  }
  .home {
    max-width: 1110px;
  }
}

@media (max-width: 1600px) {
  .calendar {
    width: 630px;
  }
}
.post {
  display: flex;
  flex-direction: column;
}

.divider {
  flex: 1;
  border-top: 1px dashed #000;
  margin: 10px 0;
}
