@import "./mixins.scss";

// scrollbar
@include scrollbar-style($size: 7px, $bg: #d2cfcf, $thumb-bg: #a7a7a7, $thumb-bg-hover: #cc8c8c);

.markdown-body {
  font-family: "Monda", Arial, sans-serif;
  word-break: break-word;
  line-height: 1.75;
  font-weight: 400;
  font-size: 15px;
  overflow-x: hidden;

  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    line-height: 1.5;
    margin-bottom: 10px;
    padding-bottom: 5px;
  }

  h1 {
    font-size: 24px;
    margin-bottom: 5px;
  }
  h2,
  h3,
  h4,
  h5,
  h6 {
    font-size: 20px;
    font-weight: 500;
  }
  h2 {
    padding-bottom: 12px;
    border-bottom: 1px solid #ececec;
  }
  h3 {
    font-size: 18px;
    padding-bottom: 0;
  }
  h6 {
    margin-top: 5px;
  }

  p {
    text-indent: 2em;
    line-height: inherit;
    margin-top: 10px;
    margin-bottom: 10px;
  }

  img {
    max-width: 100%;
    user-select: none;
    pointer-events: none;
  }

  hr {
    border-top: 1px solid #ddd;
    border-bottom: none;
    border-left: none;
    border-right: none;
    margin-top: 32px;
    margin-bottom: 32px;
  }

  code {
    word-break: break-word;
    border-radius: 2px;
    overflow-x: auto;
    background-color: rgba(255, 255, 255, 0.08);
    color: #f85959;
    font-size: 0.89em;
    padding: 0.065em 0.4em;
  }

  pre {
    border-radius: 5px;
    overflow: auto;
    position: relative;
    margin-bottom: 15px;
    line-height: 1.75;
    > code {
      font-family: "SFMono-Regular", monospace;
      font-size: 15px;
      margin: 0;
      padding: 1.4em !important;
      word-break: normal;
      display: block;
      overflow-x: auto;
      color: #333;
      background: #161616;
    }
  }

  a {
    text-decoration: none;
    color: #0269c8;
    border-bottom: 1px solid #d1e9ff;
    &:hover,
    &:active {
      color: #275b8c;
    }
  }

  table {
    display: inline-block !important;
    font-size: 12px;
    width: auto;
    max-width: 100%;
    overflow: auto;
    border: solid 1px #f6f6f6;
  }
  thead {
    background: #f6f6f6;
    color: #000;
    text-align: left;
  }
  tr:nth-child(2n) {
    background-color: #fcfcfc;
  }
  th,
  td {
    padding: 12px 7px;
    line-height: 24px;
  }
  td {
    min-width: 120px;
  }

  blockquote {
    background-color: rgba(167, 167, 167, 0.2);
    padding: 1px 20px;
    margin: 9px 0;
    font-weight: 300;
    border-left: 5px solid #cbcbcb;
    &::after {
      display: block;
      content: "";
    }
    & > p {
      margin: 9px 0;
    }
  }

  ol,
  ul {
    padding-left: 28px;
    li {
      margin-bottom: 0;
      list-style: inherit;
      & .task-list-item {
        list-style: none;
        ul,
        ol {
          margin-top: 0;
        }
      }
    }

    ul,
    ol {
      margin-top: 3px;
    }
  }
  ol li {
    padding-left: 6px;
    list-style: decimal;
  }

  .contains-task-list {
    padding-left: 0;
  }

  .task-list-item {
    list-style: none;
  }

  @media (max-width: 720px) {
    h1 {
      font-size: 24px;
    }
    h2 {
      font-size: 20px;
    }
    h3 {
      font-size: 18px;
    }
  }

  ul {
    list-style-type: square !important;
    margin-bottom: 1em;
    padding-left: 3em;
    vertical-align: baseline;
  }

  ul:not(.code-lines),
  ol {
    margin-bottom: 1rem;
    vertical-align: baseline;
    > li {
      line-height: 2em !important;
      border-radius: 3px !important;
      &:hover {
        background-color: rgba(213, 209, 209, 0.5) !important;
      }

      > p {
        text-indent: 0 !important;
      }

      > ol {
        list-style: lower-alpha !important;
      }

      > ul,
      > ol {
        list-style: circle !important;
        padding-left: 2em !important;
        margin-top: 8px !important;
        &:last-child {
          margin-bottom: 0 !important;
        }
      }

      &:last-child {
        > ul,
        > ol {
          margin-bottom: 2px !important;
        }
      }
    }
  }

  table {
    border-radius: 4px;
    overflow: hidden;
  }

  iframe {
    width: 100%;
    min-height: 320px;
    margin-bottom: 1em;
    padding: 8px;
    border-radius: 4px;
    border: 1px solid #444;
  }

  .figure-wrapper {
    width: 100%;
    margin-bottom: 1em;
    display: flex;
    justify-content: center;
    overflow: hidden;
    text-align: center;
    > figure {
      display: block;
    }
  }

  figure.image {
    position: relative;
    border-radius: 4px;
    border: 1px solid #444;
    text-indent: 0;
    text-align: center;

    .placeholder {
      visibility: hidden;
      position: absolute;
      width: 100%;
      height: 100%;
      top: 0;
      left: 0;
      display: flex;
      justify-content: center;
      align-items: center;
    }

    img {
      display: block;
      max-width: 100%;
      user-select: none;
      pointer-events: none;
      padding: 8px;
      color: transparent;
      cursor: pointer;
      transition: opacity 0.1s;
      &:hover {
        opacity: 0.9;
      }
    }

    figcaption {
      display: block;
      border-top: 1px dashed #444;
      text-align: center;
      line-height: 1 * 3;
      font-size: 12.4px;
      font-weight: bold;
    }

    &[data-status="loaded"] {
      width: auto;
      img {
        min-width: auto;
        user-select: none;
        pointer-events: none;
        min-height: auto;
      }
    }

    &[data-status="loading"],
    &[data-status="error"] {
      width: 100%;

      /* image size */
      img {
        min-height: 6rem;
      }

      /* placeholder size */
      &.caption {
        .placeholder {
          padding-bottom: 1 * 3;
        }
      }
    }

    &[data-status="error"] {
      /* show custom failed icon */
      .placeholder.error {
        visibility: visible;
        color: rgba(#000, 0.68);
      }
      /* hide original image failed icon when error */
      img {
        width: 100%;
        opacity: 0;
      }
    }

    /* loading animation */
    &[data-status="loading"] {
      .placeholder.loading {
        visibility: visible;
      }
    }
  }

  .checkbox {
    margin: 0 4px;
    &.checked {
      color: #000;
    }
  }

  code {
    vertical-align: middle;
    padding: 0.2em 0.4em 0.14em;
    margin: 0;
    border-radius: 4px;
    font-size: 15px;
  }
}
