.mobile {
  display: none;
}

@media (min-width: 1010px) {
  .desktop {
    display: block !important;
  }

  .md {
    margin-left: 12rem;
    margin-right: 1.3rem;
  }

  .mobile {
    display: none !important;
  }
}

@media (max-width: 1010px) {
  .desktop {
    display: none !important;
  }

  .mobile {
    display: block !important;
  }

  .md {
    margin-left: 12rem;
    margin-right: 0rem;
  }

  .mobile-articles {
    grid-template-columns: repeat(2, 1fr) !important;
  }

  .calendar {
    width: auto !important;
  }

  .data-open {
    height: 100% !important;
  }

  .mobile-menu {
    width: 66%;
    height: 100%;
    position: fixed;
    top: 0;
    left: 0;
    background-color: #34393d;
    transform: translate3d(-100%, 0, 0);
    transition: all 0.38s ease-out;
  }

  .opened-pc {
    transform: translateZ(0);
    overflow: hidden;
  }

  .container-main,
  .header-navbar {
    display: flex;
    justify-content: center;
    transition: all 0.38s ease-out;
    transform: translate3d(0%, 0, 0);
  }

  .opened-mobile {
    position: relative;
    transition: all 0.38s ease-out;
    transform: translate3d(66%, 0, 0);
  }

  .close-mask {
    position: absolute;
    width: 100vw;
    height: 100%;
    top: 0;
    right: 0;
    z-index: 99999;
    background-color: rgba(255, 255, 255, 0.5);
    backdrop-filter: blur(3px);
  }

  .mediate {
    margin-left: 25% !important;
    margin-right: auto;
  }

  .nav-webfont {
    font-size: 17px;
    margin-left: 25% !important;
    font-weight: 400;
    box-sizing: inherit;
    border-style: solid;
    border-width: 0;
    font-family: webfont-bolder;
    line-height: 29px;
    margin: 0;
    padding: 0;
    width: 100%;
    color: #cc8c8c;
    align-items: flex-start;
    display: flex;
    flex-direction: column;
  }

  .toggle {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 1000;
    -webkit-backdrop-filter: blur(5px);
    backdrop-filter: blur(5px);
    height: 3.5rem;
    display: flex !important;
    justify-content: space-between;
    align-items: center;

    /* Toggle菜单 */
    .toggle-menu {
      height: 100%;
      width: 15%;
      line-height: 3.5rem;
      text-align: center;
    }

    .icon-menu {
      font-weight: 900;
      font-size: 20px;
    }
  }

  .header-slogan {
    color: #0088f5;
    font-size: 15px;
    margin-top: 3px;
    font-family: webfont-medium;
    font-weight: 400;
  }

  .container {
    padding: 5rem 0.8em 1rem;
    min-height: calc(100vh - 3.5rem);
    transition: width 0.35s;
  }

  .home {
    padding-bottom: 0rem;
  }

  .hide-map-menu {
    display: none !important;
  }

  .font-name {
    color: #dedede;
  }

  .footer-links {
    padding: 0.4rem !important;
  }

  /* 覆盖Tailwindcss */
  .ml-6 {
    margin-left: 0.1rem;
  }

  .pb-10 {
    padding-bottom: 0rem;
  }

  .top-5 {
    top: 0.1rem !important;
  }

  .py-20 {
    padding-top: 3rem !important;
  }

  .md {
    margin-left: 0 !important;
  }
}
