* {
  font-family: "SpecialSymbol", Arial, sans-serif !important;
}

#background {
  position: fixed;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  z-index: -1;
}

#background .image {
  position: absolute;
  width: 100%;
  height: 100%;
}

.prose-width {
  max-width: 110ch !important;
  display: flex;
  flex-direction: column;

  span {
    line-height: 35px;
    display: flex;
  }

  a {
    color: #2e9fff;
    font-weight: 800;
    margin-left: 3px;
    margin-right: 3px;
    text-decoration: underline;
  }

  svg {
    color: #2e9fff;
  }
}

.home {
  overflow-x: hidden;
  margin: 0 auto;
  max-width: 1080px !important;
  padding-bottom: 10px;
  position: relative;
  width: 100%;
  font-family: webfont-bolder !important;
}

.desktop-nav {
  display: flex;
  align-items: center;
  position: relative;
  width: 100%;
  height: 3em;
  margin-bottom: 0.618rem;
  padding: 0 1.236rem;
  text-decoration: none;
  letter-spacing: 0.5px;
  color: var(--text-secondary) !important;
  will-change: background-color;
  transition: background-color 0.06s;
  border-radius: 4px;
  overflow: hidden;
}

.nav-webfont {
  font-weight: 400;
  box-sizing: inherit;
  border-style: solid;
  border-width: 0;
  font-family: webfont-bolder !important;
  line-height: 29px;
  margin: 0;
  padding: 0;
  width: 100%;
  color: #cc8c8c !important;
  align-items: flex-start;
  display: flex;
}

.calendar {
  width: 630px !important;
  padding: 0.8rem !important;
}

.nav-view {
  position: fixed;
  top: 0;
  order: 1;
  flex-shrink: 0;
  margin-right: 1.236rem;
}

.active {
  color: #0088f5;
}

.md {
  margin-left: 13rem;
  margin-right: 1rem;
}

@media (min-width: 1600px) and (max-width: 3999px) {
  .calendar {
    width: 690px !important;
  }
  .home {
    max-width: 1110px !important;
  }
}

@media (max-width: 1600px) {
  .calendar {
    width: 630px !important;
  }
}

.post {
  display: flex;
  flex-direction: column;
}

.divider {
  flex: 1;
  border-top: 1px dashed #9e8f8f !important;
  margin: 10px 0 !important;
}

.categories {
  margin-bottom: 1.236rem !important;
  text-align: center !important;
  font-size: 15px !important;
  line-height: 2 !important;
}

.markdown-width {
  max-width: 78.5ch;
}

.text-sm {
  font-size: 0.99rem !important;
  line-height: 1.2rem !important;
}

.footer-links {
  display: flex;
  padding: 0.5rem 0.5rem 0.5rem 0rem;
  transition: background-color 0.25s;
  border-radius: 6px;
}
.item {
  font-weight: 600;
  text-decoration: underline;
  text-underline-offset: 0.3em;
  text-decoration-thickness: from-font;
}
.vertical {
  position: relative;
  top: -0.06em;
  display: inline-block;
  height: 0.9em;
  margin: 0 0.9rem;
  vertical-align: middle;
  border-left: 1px solid rgba(0, 0, 0, 0.26);
}

/* 适用于一些 WebKit 内核的浏览器 */
@media screen and (-webkit-min-device-pixel-ratio: 0) {
  .markdown-width {
    max-width: 78.5ch !important;
  }
}

/* 适用于 Firefox 浏览器 */
@-moz-document url-prefix() {
  .markdown-width {
    max-width: 78.5ch !important;
  }
}

/* 文章列表 */
.item-content {
  width: 630px;
  display: flex;
  height: 9rem;
  padding: 0.618rem;
  overflow: hidden;
  border-radius: 2px;
  transition: background-color 0.1s;
}
.item-thumbnail {
  flex-shrink: 0;
  width: 186px;
  height: 8rem;
  margin-right: 1.236rem;
  position: relative;
  border-radius: 2px;
  overflow: hidden;
}
.item-body {
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 8rem;
  padding-right: 0.309rem;
}
.title {
  display: flex;
  justify-content: space-between;
  margin-top: 3px;
  font-size: 14px;
  margin-bottom: 0.618rem;
  font-weight: 700;
}
.language {
  opacity: 0.5;
  font-size: 14px;
  color: rgba(240, 240, 240, 0.26);
}
.description {
  margin: 0;
  line-height: 1.8em;
  text-overflow: ellipsis;
  font-size: 13.58px;
  display: -webkit-box;
  overflow: hidden;
  -webkit-line-clamp: 2;
}
.item-meta {
  height: 2em;
  line-height: 2em;
  display: flex;
  justify-content: space-between;
  align-items: baseline;
  overflow: hidden;
  font-size: 12.432px;
  white-space: nowrap;
  text-overflow: ellipsis;
  word-wrap: normal;
  color: var(--text-secondary);
}
.article-item {
  margin-bottom: 1.236rem;
  position: relative;
  border-radius: 4px;
  overflow: hidden;
}
.image {
  height: 100%;
  min-width: 100%;
  width: 189px;
  max-width: 189px;
  border-color: transparent;
  background-color: var(--module-bg-darker-2);
  object-fit: cover;
  object-position: center;
  opacity: 1;
  transform: translate(0);
  transition:
    transform 0.25s,
    opacity 0.25s;
}
.item-content:hover .item-thumbnail .image {
  opacity: 0.88;
  transform: translate(-3px);
}

.article-item > .item-content > .item-thumbnail .item-oirigin.original {
  background-color: #0088f5b3;
}

.article-item > .item-content > .item-thumbnail .item-oirigin {
  position: absolute;
  left: 0;
  top: 0;
  height: 1.8rem;
  line-height: 1.8rem;
  z-index: 1;
  padding: 0 0.618rem;
  border-bottom-right-radius: 2px;
  font-size: 11px;
  color: #fff;
  text-align: center;
  opacity: 0.5;
  transition:
    opacity 0.1s,
    visibility 0.1s;
}

.article-item > .item-content > .item-body .title .link:hover {
  color: var(--link-color);
  border-color: initial;
  margin-left: 0.309rem;
  text-decoration: underline;
}

.article-item > .item-content:hover .item-thumbnail .item-oirigin {
  opacity: 1;
}

.repost {
  background-color: #ff5722b3;
}

.article-item .item-background {
  position: absolute;
  width: 630px;
  height: 100%;
  z-index: -1;
  background-size: 120%;
  background-position: 0% 50%;
  opacity: 0.08;
}
