* {
  font-family: "SpecialSymbol", Arial, sans-serif !important;
}

#background {
  position: fixed;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  z-index: -1;
}

#background .image {
  position: absolute;
  width: 100%;
  height: 100%;
}


.prose-width {
  max-width: 110ch !important;
  display: flex;
  flex-direction: column;

  span {
    line-height: 35px;
    display: flex;
  }

  a {
    color: #2e9fff;
    font-weight: 800;
    margin-left: 3px;
    margin-right: 3px;
    text-decoration: underline;
  }

  svg {
    color: #2e9fff;
  }
}

.home {
  overflow-x: hidden;
  margin: 0 auto;
  max-width: 1080px !important;
  padding-bottom: 10px;
  position: relative;
  width: 100%;
  font-family: webfont-bolder !important;
}

.desktop-nav {
  display: flex;
  align-items: center;
  position: relative;
  width: 100%;
  height: 3em;
  margin-bottom: 0.618rem;
  padding: 0 1.236rem;
  text-decoration: none;
  letter-spacing: 0.5px;
  color: var(--text-secondary) !important;
  will-change: background-color;
  transition: background-color 0.06s;
  border-radius: 4px;
  overflow: hidden;
}

.nav-webfont {
  font-weight: 400;
  box-sizing: inherit;
  border-style: solid;
  border-width: 0;
  font-family: webfont-bolder !important;
  line-height: 29px;
  margin: 0;
  padding: 0;
  width: 100%;
  color: #cc8c8c !important;
  align-items: flex-start;
  display: flex;
}

.calendar {
  width: 630px !important;
  padding: 0.8rem !important;
}

.nav-view {
  position: fixed;
  top: 0;
  order: 1;
  flex-shrink: 0;
  margin-right: 1.236rem;
}

.active {
  color: #0088f5;
}

.anchor {
  padding: 1rem 1rem 1rem 0;
  display: flex;
  flex-direction: column;
}

.anchor .header {
  display: block;
  width: 100%;
  text-align: left;
}

.base-navigation {
  display: flex;
  align-items: center;
  margin-top: 5px;
  margin-bottom: -10px;
  border-radius: 5px;
}

.navigation {
  @extend .base-navigation;
}

.navigation-template {
  @extend .base-navigation;
  height: 120px;
  margin-bottom: 10px;
}

@mixin navigation-a {
  margin-left: 0;
  display: flex;
  height: 40px;
  width: 40px;
  line-height: 40px;
  align-items: center;
  justify-content: center;
}

.navigation-a {
  @include navigation-a;
}

@media (min-width: 1600px) and (max-width: 3999px) {
  .calendar {
    width: 690px !important;
  }
  .item-background {
    width: 690px !important;
  }
  .item-content {
    width: 690px !important;
  }
  .home {
    max-width: 1110px !important;
  }
}

@media (max-width: 1600px) {
  .calendar {
    width: 630px !important;
  }
  .item-content {
    width: 630px !important;
  }
  .item-background {
    width: 630px !important;
  }
}

.post {
  display: flex;
  flex-direction: column;
}

.divider {
  flex: 1;
  border-top: 1px dashed #9e8f8f !important;
  margin: 10px 0 !important;
}

.categories {
  margin-bottom: 1.236rem !important;
  text-align: center !important;
  font-size: 15px !important;
  line-height: 2 !important;
}

.markdown-width {
  max-width: 78.5ch;
}

.text-sm {
  font-size: 0.99rem !important;
  line-height: 1.2rem !important;
}

.footer-links {
  display: flex;
  padding: 0.5rem 0.5rem 0.5rem 0rem;
  transition: background-color 0.25s;
  border-radius: 6px;
}
.item {
  font-weight: 600;
  text-decoration: underline;
  text-underline-offset: 0.3em;
  text-decoration-thickness: from-font;
}
.vertical {
  position: relative;
  top: -0.06em;
  display: inline-block;
  height: 0.9em;
  margin: 0 0.9rem;
  vertical-align: middle;
  border-left: 1px solid rgba(0, 0, 0, 0.26);
}

/* 适用于一些 WebKit 内核的浏览器 */
@media screen and (-webkit-min-device-pixel-ratio: 0) {
  .markdown-width {
    max-width: 78.5ch !important;
  }
}

/* 适用于 Firefox 浏览器 */
@-moz-document url-prefix() {
  .markdown-width {
    max-width: 78.5ch !important;
  }
}

#calendar {
  display: none;
}

#skeleton {
  background: linear-gradient(90deg, #f0f0f0 25%, #e0e0e0 50%, #f0f0f0 75%);
  background-size: 200% 100%;
  animation: skeleton-loading 1.5s ease-in-out infinite;
}

@keyframes skeleton-loading {
  0% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0 50%;
  }
}

@media (min-width: 768px) {
  #twikoo {
    width: 650px !important;
    padding: 10px;
    border-radius: 6px;
  }
}

@media (max-width: 767px) {
  #twikoo {
    max-width: 78.5ch !important;
    padding: 10px;
    border-radius: 6px;
  }
}

.tk-comments-no {
  border-top: 1px dashed #ababab;
}

.el-loading-spinner {
  display: flex;
  justify-content: center;
}

.tk-footer {
  display: none !important;
}
