---
import '../style/index.scss'
import '../style/iconfont.scss'
---

<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="baidu-site-verification" content="code-XojSSkyEM8" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="viewport" content="width=device-width" />
    <meta name="generator" content={Astro.generator} />
    <title>{Astro.props.title}</title>
    <meta property="og:site_name" content={"Chet's Blog"} />
    <meta property="og:title" content={Astro.props.title} />
    <meta property="og:url" content={new URL(Astro.url.pathname, Astro.site)} />
    <meta
      property="og:image"
      content={Astro.props.ogImage || new URL('/ogImage.png', Astro.site)}
    />
    <meta
      property="og:description"
      content={Astro.props.ogDescription || 'ChetSerenade is blogging about life, tech.'}
    />
    <meta property="og:type" content={Astro.props.ogType || 'website'} />
    <link href="https://api.mapbox.com/mapbox-gl-js/v2.1.1/mapbox-gl.css" rel="stylesheet" />
  </head>

  <body>
    <div id="background">
      <div class="image"></div>
    </div>
    <slot />
    <script>
      import '../load-gallery.js'
    </script>
    <!-- 获取用户数据｜数据埋点 -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=G-2NNW326HBL"></script>
    <script>
      window.dataLayer = window.dataLayer || []
      function gtag() {
        dataLayer.push(arguments)
      }
      gtag('js', new Date())

      gtag('config', 'G-2NNW326HBL')

      var _hmt = _hmt || []
      ;(function () {
        var hm = document.createElement('script')
        hm.src = 'https://hm.baidu.com/hm.js?54818920b21956b8d2d7e3e951398987'
        var s = document.getElementsByTagName('script')[0]
        s.parentNode.insertBefore(hm, s)
      })()
    </script>
  </body>
</html>
