---
import '@/style/app'
import ProviderTheme from '@/components/ProviderTheme'
import FixedText from '@/components/FixedText'
import BaiduStatistics from '@/components/BaiduStatistics'
import { ViewTransitions } from 'astro:transitions'
---

<html lang="en" class="scroll-smooth">
  <head>
    <meta charset="utf-8" />
    <meta name="description" content="Personal blog" />
    <meta name="baidu-site-verification" content="code-XojSSkyEM8" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="viewport" content="width=device-width" />
    <meta name="generator" content={Astro.generator} />
    <title>{Astro.props.title}</title>
    <meta property="og:site_name" content={"Chet's Blog"} />
    <meta property="og:title" content={Astro.props.title} />
    <meta property="og:url" content={new URL(Astro.url.pathname, Astro.site)} />
    <meta
      property="og:image"
      content={Astro.props.ogImage || new URL('/ogImage.png', Astro.site)}
    />
    <meta
      property="og:description"
      content={Astro.props.ogDescription || 'Jed is blogging about life, tech.'}
    />
    <meta property="og:type" content={Astro.props.ogType || 'website'} />
    <ProviderTheme />
    <ViewTransitions />
  </head>

  <body
    class="bg-snowfallWhite text-stone-950 dark:bg-[#232323] dark:text-snowfallWhite w-full h-full"
  >
    <slot />
    <FixedText />
    <BaiduStatistics />
  </body>
</html>
