---
import '../style/app.scss'
---

<html lang="en" data-theme="">
  <head>
    <meta charset="utf-8" />
    <meta name="baidu-site-verification" content="code-XojSSkyEM8" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="viewport" content="width=device-width" />
    <meta name="generator" content={Astro.generator} />
    <title>{Astro.props.title}</title>
    <meta property="og:site_name" content={"Chet's Blog"} />
    <meta property="og:title" content={Astro.props.title} />
    <meta property="og:url" content={new URL(Astro.url.pathname, Astro.site)} />
    <meta
      property="og:image"
      content={Astro.props.ogImage || new URL('/ogImage.png', Astro.site)}
    />
    <meta
      property="og:description"
      content={Astro.props.ogDescription || 'Jed is blogging about life, tech.'}
    />
    <meta property="og:type" content={Astro.props.ogType || 'website'} />
    <link href="https://api.mapbox.com/mapbox-gl-js/v2.1.1/mapbox-gl.css" rel="stylesheet" />
  </head>

  <body>
    <div id="background">
      <div class="image"></div>
    </div>
    <slot />
    <script>
      import '../load-gallery.js'
    </script>
    <script>
      document.addEventListener('DOMContentLoaded', function () {
        var markdownBody = document.getElementById('markdown-body')
        if (markdownBody) {
          var links = markdownBody.querySelectorAll('a')
          for (var i = 0; i < links.length; i++) {
            var link = links[i]
            if (link.getAttribute('target') !== '_blank') {
              link.setAttribute('target', '_blank')
            }
          }
        }
      })
    </script>
  </body>
</html>
